- url = url_for("/#{@app.uuid}/version/#{@version.uuid}")
- form_for @version, url, method: "post", class: "form-horizontal", enctype: "multipart/form-data", id: "recordForm" do |f|
  - field_set_tag do
    .form-group
      = f.label '文件名称', class: "col-sm-2 control-label"
      .col-sm-7
        = f.text_field :file_name, class: "form-control", disabled: 'disabled'
    .form-group
      = f.label '文件哈希', class: "col-sm-2 control-label", disabled: 'disabled'
      .col-sm-7
        = f.text_field :md5, class: "form-control", disabled: 'disabled'
    .form-group
      = f.label '文件大小', class: "col-sm-2 control-label"
      .col-sm-7
        = f.text_field :file_size, class: "form-control", disabled: 'disabled'
    .form-group
      = f.label '版本号', class: "col-sm-2 control-label"
      .col-sm-7
        = f.text_field :version, class: "form-control", placeholder: '版本号，格式：0.0.1，必填项'
    .form-group
      = f.label 'build 值', class: "col-sm-2 control-label"
      .col-sm-7
        = f.text_field :build, class: "form-control", placeholder: 'build 值，数字，必填项'
    .form-group
      = f.label '版本描述', class: "col-sm-2 control-label"
      .col-sm-7
        = f.text_area :description, class: "form-control", placeholder: '版本更新说明'
    .form-group
      .col-sm-offset-2.col-sm-10
        = f.submit "提交", class: "btn btn-primary hidden"
        = link_to "提交", "javascript:void(0);", class: "btn btn-primary", onclick: "window.AppVersion.onsubmit();"
        = button_tag "取消", class: "btn btn-default", onclick: "window.history.go(-1);"
