%ol.breadcrumb
  %li 应用管理
  %li= link_to @app.name, url_for("/#{@app.id}")
  %li 
    版本列表
    &nbsp;|&nbsp;
    %a{href: url_for("/#{@app.id}/version/new") + "?page=#{params[:page] || 1}"}
      新建版本
      %span.glyphicon.glyphicon-plus
:css   
  .apps th:nth-child(n+1), .apps td:nth-child(n+1) { text-align: center; width: 5%; }
  .apps th:nth-child(1), .apps td:nth-child(1) { text-align: left; width: 20%; }
  .apps th:nth-child(2), .apps td:nth-child(2) { text-align: left; width: 15%; }
  .apps th:nth-last-child(1), .apps td:nth-last-child(1) { text-align: center; width: 10%; }
%table.table.table-hover.table-condensed.table-strip.table-bordered.smart-table.apps
  %thead
    %th 版本号
    %th build 值
    %th 文件大小
    %th CDN 状态
    %th 上传时间
  %tbody
    - @records.each do |record|
      %tr{id: "dom_#{record.id}"}
        %td= record.version
        %td= record.build
        %td= record.file_size
        %td= record.cdn_state
        %td= record.created_at.strftime('%y/%m/%d %H:%M')

= will_paginater @records