%ol.breadcrumb
  %li 应用中心
  %li= link_to "应用管理", url_for("/")
  %li= link_to @app.name, url_for("/#{@app.uuid}")
  %li= "#{@version.version}/#{@version.build}"

:css   
  .version th:nth-child(1), .version td:nth-child(1) { width: 15%; }
  .version th:nth-child(2), .version td:nth-child(2) { width: 80%; }
%table.table.table-hover.table-condensed.table-strip.table-bordered.version
  %thead
    %th 键值
    %th 内容
  %tbody
    %tr
      %td UUID
      %td= @version.uuid
    %tr
      %td 应用名称
      %td= link_to @app.name, url_for("/#{@app.uuid}")
    %tr
      %td 文件名称(业务)
      %td= @app.file_name
    %tr
      %td 版本号
      %td= @version.version
    %tr
      %td build 值
      %td= @version.build
    %tr
      %td 文件名称(版本)
      %td= @version.file_name
    %tr
      %td 文件大小
      %td= @version.file_size
    %tr
      %td 文件 MD5
      %td= @version.md5
    %tr
      %td CDN 链接
      %td= @version.cdn_link
    %tr
      %td 版本描述
      %td= @version.description
    %tr
      %td 创建时间
      %td= @version.created_at.strftime('%y/%m/%d %H:%M:%S')