.col-sm-9
  %ol.breadcrumb
    %li 应用中心
    %li
      %a{href: "#{url_for('/')}?page=#{params[:page] || 1}"} 分组管理
    %li
      %a{href: "#{url_for('/')}#{params[:uuid]}/apps?obj_type=#{params[:obj_type] || 1}"}
        ="「#{@record.name}」"
    %li分组权限

:css   
  .apps th:nth-child(n+1), .apps td:nth-child(n+1) { text-align: center; width: 5%; }
  .apps th:nth-child(2), .apps td:nth-child(2) { text-align: left; width: 30%; }
  .apps th:nth-child(3), .apps td:nth-child(3) { text-align: left; width: 20%; }
  .apps th:nth-child(4), .apps td:nth-child(4) { text-align: left; width: 20%; }
  .apps th:nth-last-child(1), .apps td:nth-last-child(1) { text-align: center; width: 10%; }
%table.table.table-hover.table-condensed.table-strip.table-bordered.records.smart-table.apps
  %thead
    %th 应用名称
    %th 文件名称
    %th UUID
    %th 更新时间
  %tbody
    - @records.each do |record|
      %tr{id: "dom_#{record.uuid}", "data-uuid": record.uuid, "data-groupuuid": record.app_group_uuid}
        %td.name= record.name
        %td.file_name= record.file_name
        %td.uuid= record.uuid
        %td= (record.updated_at || Time.now).strftime('%y/%m/%d %H:%M')

= will_paginater @records

:javascript
  window.AppGroup = {
    initTableCheckbox: function() {
      var $thr = $('table.records thead tr');
      // <input type="checkbox" onclick="window.Group.checkAll(this);" id="checkAll" name="checkAll" />
      var $checkAllTh = $('<th>选择</th>');
      /*将全选/反选复选框添加到表头最前，即增加一列*/
      $thr.prepend($checkAllTh);
      /*“全选/反选”复选框*/
      var $tbr = $('table.records tbody tr');
      var $checkItemTd = $('<td><input class="item-checkbox" type="checkbox" name="checkItem" onclick="window.AppGroup.setState(this);" /></td>');
      /*每一行都在最前面插入一个选中复选框的单元格*/
      $tbr.prepend($checkItemTd);
    },
    checkAll: function(ctl) {
      $(".item-checkbox").prop("checked", $(ctl).prop("checked"));
    },
    getState: function() {
      $("table.records tbody tr").each(function() {
        if($(this).data("groupuuid") === '#{@record.uuid}') {
          $("#dom_" + $(this).data("uuid") + " input").prop("checked", "checked");
        }
      })
    },
    setState: function(ctl) {
      var uuid = $(ctl).closest("tr").find(".uuid").text(),
          app_name = $(ctl).closest("tr").find(".name").text(),
          check_state = $(ctl).prop("checked"),
          options = {
            type: 'post',
            url: "#{url_for('/apps/state')}",
            data: {
              uuid: uuid,
              app_group_uuid: '#{params[:uuid]}',
              state: check_state
            }
          };
      var operation = ($(ctl).prop("checked") ? "" : "取消") + "关联",
          state = confirm("确认" + operation + "分组「#{@record.name}」?");
      if(!state) {
        $("#dom_" + uuid + " .item-checkbox").prop("checked", !check_state);
        return false;
      }

      window.Loading.show("操作中...");
      $('.loading').removeClass('hidden');
      $.ajax(options).done(function(res, status, xhr) {
        if(res.code === 201) {
          window.Loading.show(operation + "成功");

          try {
            var objects = {
              role: { id: uuid, name: app_name, type: "app" },
              menu: { id: "#{@record.id}", name: "#{@record.name}", type: "app_group"}
            }
            // window.OperationLogger.record("app_group.move_app_" + (check_state ? "into" : "out"), objects);
          } catch(e) { console.log(e) }
        } else {
          window.Loading.show(operation + "成功");
        }
      }).fail(function(res, status, xhr) {
        window.Loading.show(operation + "成功");
      }).always(function(res, status, xhr) {
        window.Loading.hide();
      });
    }
  }
  window.AppGroup.initTableCheckbox();
  window.AppGroup.getState();