.col-sm-9
  %ol.breadcrumb
    %li 应用中心
    %li
      %a{href: "#{url_for('/')}?page=#{params[:page] || 1}"} 分组管理
    %li= "「#{@record.name}」"
    %li
      %a{href: "#{url_for('/')}#{params[:uuid]}/apps/add?obj_type=#{params[:obj_type] || 1}"}
        应用管理
        %span.glyphicon.glyphicon-check

:css   
  .table th:nth-child(n+1), .table td:nth-child(n+1) { text-align: center; width: 5%; }
  .table th:nth-child(2), .table td:nth-child(2) { text-align: left;width: 20%; }
  .table th:nth-child(3), .table td:nth-child(3) { text-align: left;width: 20%; }
  .table th:nth-last-child(1), .table td:nth-last-child(1) { text-align: center; width: 10%; }
%table.table.table-hover.table-condensed.table-strip.table-bordered.records.smart-table
  %thead
    %th ID
    %th 应用名称
    %th 文件名称
    %th 更新时间
  %tbody
    - @records.each do |record|
      %tr{id: "dom_#{record.uuid}"}
        %td.id=record.uuid
        %td.name= record.name
        %td.file_name= record.file_name
        %td= (record.updated_at || Time.now).strftime('%y/%m/%d %H:%M')

= will_paginater @records
