%ol.breadcrumb
  %li 应用中心
  %li= link_to "分组管理", url_for("/")
  %li= link_to @record.name, url_for("/#{@record.id}")
  %li 编辑分组

= haml :_form

:javascript
  window.AppGroup = {
    onsubmit: function() {
      try {
        var objects = {app_group: { id: "#{@record.id}", name: $("#app_group_name").val() }}
        window.OperationLogger.record("app_group.edit", objects);
      } catch(e) { console.log(e) }

      $("#recordForm").submit();
    }
  }