%ol.breadcrumb
  %li 应用中心
  %li= link_to '应用管理', url_for('/')
  %li= @record.name

:css   
  .app th:nth-child(1), .app td:nth-child(1) { width: 15%; }
  .app th:nth-child(2), .app td:nth-child(2) { width: 80%; }
%table.table.table-hover.table-condensed.table-strip.table-bordered.app
  %thead
    %th 键值
    %th 内容
  %tbody
    %tr
      %td 应用名称
      %td.name= @record.name
    %tr
      %td 文件名称
      %td= @record.file_name
    %tr
      %td 文件名称
      %td
        %span.label.label-info= @record.file_type
    %tr
      %td 最新版本
      %td= link_to "#{@record.latest_version}(#{@record.latest_build})", url_for("/#{@record.id}/version/#{@record.latest_version_id}")
    %tr
      %td 版本数量
      %td= link_to @record.version_count, url_for("/#{@record.id}/version")
    %tr
      %td 应用描述
      %td= @record.description
    %tr
      %td 创建时间
      %td= @record.created_at.strftime('%y/%m/%d %H:%M:%S')
    %tr
      %td 更新时间
      %td= @record.updated_at.strftime('%y/%m/%d %H:%M:%S')
    %tr
      %td 编辑
      %td
        %a{href: url_for("/#{@record.id}/edit"), class: 'btn btn-xs btn-link'}
          %span.glyphicon.glyphicon-edit
    %tr
      %td 删除
      %td
        %a.btn.btn-xs.btn-link{style: "color: red;", onclick: "window.AppObject.remove(#{@record.id});"}
          .span.glyphicon.glyphicon-trash

:javascript
  (function() {
      window.AppObject = {
        remove: function(id) {
          var name = $(".name").text();

          if(!confirm('确定删除「' + name + '」?')) {
            return false;
          }

          window.Loading.show("删除中...");
          $.ajax({
            type: 'delete',
            url: "#{url_for('/')}" + id
          }).done(function(res, status, xhr) {
            if(res.code === 201) {
              $("#dom_" + id).remove();
              window.Loading.show("删除成功");

              try {
                var objects = {app: { id: id, name: name }}
                window.OperationLogger.record("app.delete", objects);
              } catch(e) { console.log(e) }
              
              window.location.href = "#{url_for('/')}";
            } else {
              window.Loading.show("删除失败");
            }
          }).fail(function(xhr, status, error) {
              window.Loading.show("删除失败");
          }).always(function(res, status, xhr) {
              window.Loading.hide();
          });
        }
      }
  }).call(this);