- url = url_for(@record ? "/#{@record.id}?page=#{params[:page] || 1}" : "/")
- form_for @record, url, method: "post", class: "form-horizontal", id: "recordForm" do |f|
  = f.hidden_field :uuid
  - field_set_tag do
    .form-group
      = f.label '模板名称', class: "col-sm-2 control-label"
      .col-sm-7
        = f.text_field :title, class: "form-control", placeholder: "模板名称，必填项"
    .form-group
      = f.label '功能描述', class: "col-sm-2 control-label"
      .col-sm-7
        = f.text_area :description, class: "form-control", rows: 1, placeholder: "功能描述"
    .form-group
      = f.label '部署脚本', class: "col-sm-2 control-label"
      .col-sm-7
        = f.text_area :content, class: "form-control", rows: 10, placeholder: "bash 部署脚本"
    .form-group
      .col-sm-offset-2.col-sm-10
        = f.submit "提交", class: "btn btn-primary hidden"
        = link_to "提交", "javascript:void(0);", class: "btn btn-primary", onclick: "window.JobTemplate.onsubmit();"
        = button_tag "取消", class: "btn btn-default", onclick: "window.history.go(-1);"
