%ol.breadcrumb
  %li 部署中心
  %li 模板管理
  %li
    %a{href: "#{url_for('/new')}?page=#{params[:page] || 1}"}
      新建模板
      %span.glyphicon.glyphicon-plus
:css   
  .job-templates th:nth-child(n+1), .job-templates td:nth-child(n+1) { text-align: center; width: 5%; }
  .job-templates th:nth-child(1), .job-templates td:nth-child(1) { text-align: left; width: 15%; }
  .job-templates th:nth-child(2), .job-templates td:nth-child(2) { text-align: left; width: 20%; }
  .job-templates th:nth-last-child(1), .job-templates td:nth-last-child(1) { text-align: center; width: 10%; }
%table.table.table-hover.table-condensed.table-strip.table-bordered.smart-table.job-templates
  %thead
    %th 模板名称
    %th 功能描述
    %th 编辑
    %th 拷贝
    %th 删除
    %th 更新时间
  %tbody
    - @records.each do |record|
      %tr{id: "dom_#{record.id}"}
        %td.name= link_to record.title, url_for("/#{record.id}")
        %td= record.description
        %td
          %a{href: url_for("/#{record.id}/edit"), style: "color: black;"}
            %span.glyphicon.glyphicon-edit
        %td
          %a.btn.btn-xs.btn-link{style: "color: black;", href: url_for("/#{record.id}/copy")}
            .span.glyphicon.glyphicon-retweet
        %td
          %a.btn.btn-xs.btn-link{style: "color: red;", onclick: "window.JobTemplate.remove(#{record.id});"}
            .span.glyphicon.glyphicon-trash
        %td= record.updated_at.strftime('%y/%m/%d %H:%M')

= will_paginater @records

:javascript
  (function() {
      window.JobTemplate = {
        remove: function(id) {
          var name = $("#dom_" + id + " .name").text();

          if(!confirm('确定删除「' + name + '」?')) {
            return false;
          }

          window.Loading.show("删除中...");
          $.ajax({
            type: 'delete',
            url: "#{url_for('/')}" + id
          }).done(function(res, status, xhr) {
            if(res.code === 201) {
              $("#dom_" + id).remove();
              window.Loading.show("删除成功");

              try {
                var objects = {job_template: { id: id, name: name}}
                window.OperationLogger.record("job_template.delete", objects);
              } catch(e) { console.log(e) }
            } else {
              window.Loading.show("删除失败");
            }
          }).fail(function(xhr, status, error) {
              window.Loading.show("删除失败");
          }).always(function(res, status, xhr) {
              window.Loading.hide();
          });
        }
      }
  }).call(this);