%ol.breadcrumb
  %li 部署中心
  %li= link_to '模板管理', url_for('/')
  %li= @record.title

:css   
  .app th:nth-child(1), .app td:nth-child(1) { width: 15%; }
  .app th:nth-child(2), .app td:nth-child(2) { width: 80%; }
%table.table.table-hover.table-condensed.table-strip.table-bordered.app
  %thead
    %th 键值
    %th 内容
  %tbody
    %tr
      %td 模板名称
      %td.name= @record.title
    %tr
      %td 功能描述
      %td= @record.description
    %tr
      %td 模板 UUID
      %td= @record.uuid
    %tr
      %td 模板类型
      %td
        %span.label.label-info= @record.template_type
        %small (与应用文档类型匹配)
    %tr
      %td 部署脚本
      %td
        %pre= @record.content
    %tr
      %td 创建时间
      %td= @record.created_at.strftime('%y/%m/%d %H:%M:%S')
    %tr
      %td 更新时间
      %td= @record.updated_at.strftime('%y/%m/%d %H:%M:%S')
    %tr
      %td 编辑
      %td
        %a{href: url_for("/#{@record.id}/edit"), class: 'btn btn-xs btn-link'}
          %span.glyphicon.glyphicon-edit
    %tr
      %td 删除
      %td
        %a.btn.btn-xs.btn-link{style: "color: red;", onclick: "window.JobTemplate.remove(#{@record.id});"}
          .span.glyphicon.glyphicon-trash

:javascript
  (function() {
      window.JobTemplate = {
        remove: function(id) {
          var name = $(".name").text();

          if(!confirm('确定删除「' + name + '」?')) {
            return false;
          }

          window.Loading.show("删除中...");
          $.ajax({
            type: 'delete',
            url: "#{url_for('/')}" + id
          }).done(function(res, status, xhr) {
            if(res.code === 201) {
              $("#dom_" + id).remove();
              window.Loading.show("删除成功");

              try {
                var objects = {job_template: { id: id, name: name }}
                window.OperationLogger.record("job_template.delete", objects);
              } catch(e) { console.log(e) }
              
              window.location.href = "#{url_for('/')}";
            } else {
              window.Loading.show("删除失败");
            }
          }).fail(function(xhr, status, error) {
              window.Loading.show("删除失败");
          }).always(function(res, status, xhr) {
              window.Loading.hide();
          });
        }
      }
  }).call(this);