%ol.breadcrumb
  %li 部署中心
  %li= link_to '模板管理', url_for('/')
  %li= @record.title

:css   
  .app th:nth-child(1), .app td:nth-child(1) { width: 15%; }
  .app th:nth-child(2), .app td:nth-child(2) { width: 80%; }
%table.table.table-hover.table-condensed.table-strip.table-bordered.app
  %thead
    %th 键值
    %th 内容
  %tbody
    %tr
      %td 模板名称
      %td= @record.title
    %tr
      %td 功能描述
      %td= @record.description
    %tr
      %td 模板 UUID
      %td= @record.uuid
    %tr
      %td 部署脚本
      %td
        %pre= @record.content
    %tr
      %td 创建时间
      %td= @record.created_at.strftime('%y/%m/%d %H:%M:%S')
    %tr
      %td 更新时间
      %td= @record.updated_at.strftime('%y/%m/%d %H:%M:%S')