%ol.breadcrumb
  %li= link_to '设备管理', url_for("/")
  %li= link_to @device.human_name || @device.hostname, url_for("/#{params[:id]}")
  %li 提交记录

:css   
  .table th:nth-child(n+1), .table td:nth-child(n+1) { text-align: center; width: 20%; }
  .table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th { padding: 3px 5px;}
%table.table.table-hover.table-condensed.table-strip.table-bordered.smart-table
  %thead
    %th 内存使用
    %th CPU 使用
    %th 磁盘使用
    %th 代理账号
    %th 代理版本
    %th 提交时间
  %tbody
    - @records.each do |record|
      %tr{id: "dom_#{record.id}"}
        %td= "#{record.memory_usage}%"
        %td= record.cpu_usage
        %td= record.disk_usage
        %td= record.whoami
        %td= record.version
        %td= record.created_at.strftime('%y/%m/%d %H:%M')

= will_paginater @records
