- url = url_for(@record ? "/#{@record.uuid}" : "/")
- form_for @record, url, method: "post", class: "form-horizontal", id: "recordForm" do |f|
  - field_set_tag do
    .form-group
      = f.label '应用分组', class: "col-sm-2 control-label"
      .col-sm-6
        = f.select :device_group_uuid, options: DeviceGroup.all.map { |r| [r.name, r.uuid] }, class: "form-control"
      .col-sm-1{style: "padding-top:10px;"}
        %a{href: "/account/device_groups/new", target: "blank"}
          %span.glyphicon.glyphicon-plus
    .form-group
      = f.label '业务名称', class: "col-sm-2 control-label"
      .col-sm-7
        = f.text_field :human_name, class: "form-control", placeholder: "业务名称"
    .form-group
      = f.label '是否监控', class: "col-sm-2 control-label"
      .col-sm-7
        = f.select :monitor_state, options: [['关闭', 0], ['开启', 1]], class: "form-control", placeholder: "监控状态"
    .form-group
      = f.label '主机描述', class: "col-sm-2 control-label"
      .col-sm-7
        = f.text_area :description, class: "form-control", placeholder: "主机描述"
    .form-group
      = f.label 'Host 名称', class: "col-sm-2 control-label"
      .col-sm-7
        = f.text_field :hostname, class: "form-control"
    .form-group
      = f.label 'UUID', class: "col-sm-2 control-label"
      .col-sm-7
        = f.text_field :uuid, class: "form-control"
    .form-group
      = f.label '系统类型', class: "col-sm-2 control-label"
      .col-sm-7
        = f.text_field :os_type, class: "form-control"
    .form-group
      = f.label '系统版本', class: "col-sm-2 control-label"
      .col-sm-7
        = f.text_field :os_version, class: "form-control"
    .form-group
      = f.label 'SSH 服务器', class: "col-sm-2 control-label"
      .col-sm-7
        = f.text_field :ssh_ip, class: "form-control", placeholder: "SSH IP"
    .form-group
      = f.label 'SSH 端口', class: "col-sm-2 control-label"
      .col-sm-7
        = f.text_field :ssh_port, class: "form-control", placeholder: "SSH 端口"
    .form-group
      = f.label 'SSH 账号', class: "col-sm-2 control-label"
      .col-sm-7
        = f.text_field :ssh_username, class: "form-control", placeholder: "SSH 账号"
    .form-group
      = f.label 'SSH 密码', class: "col-sm-2 control-label"
      .col-sm-7
        = f.text_field :ssh_password, class: "form-control", placeholder: "SSH 密码"
    .form-group
      .col-sm-offset-2.col-sm-10
        = f.submit "提交", class: "btn btn-primary hidden"
        = link_to "提交", "javascript:void(0);", class: "btn btn-primary", onclick: "window.Device.onsubmit();"
        = button_tag "取消", class: "btn btn-default", onclick: "window.history.go(-1);"