%ol.breadcrumb
  %li 设备中心
  %li= link_to "主机管理", url_for('/') + "?page=#{params[:page] || 1}"
  %li= link_to @record.human_name || @record.hostname, url_for("/#{@record.id}")
  %li 编辑

= haml :_form

:javascript
  window.Device = {
    onsubmit: function() {
      try {
        var objects = {device: { id: "#{@record.id}", name: $("#device_human_name").val() }}
        window.OperationLogger.record("device.edit", objects);
      } catch(e) { console.log(e) }

      $("#recordForm").submit();
    }
  }