%ol.breadcrumb
  %li 设备中心
  %li
    %a{href: "#{url_for('/')}?page=#{params[:page] || 1}"} 主机管理
  %li= "「#{@record.human_name || @record.hostname}」"

:css   
  .devices th:nth-child(1), .devices td:nth-child(1) { width: 10%; }
  .devices th:nth-child(2), .devices td:nth-child(2) { width: 80%; }
%table.table.table-hover.table-condensed.table-strip.table-bordered.devices
  %thead
    %th 键值
    %th 内容
  %tbody
    %tr
      %td 业务名称
      %td.name= @record.human_name
    %tr
      %td API Token
      %td= @record.api_token
    %tr
      %td SSH 状态
      %td
        %span.label{class: "label-#{@record.ssh_state ? 'success' : 'warning'}"}
          = @record.ssh_state ? '启用' : '关闭'
        &nbsp;&nbsp;&nbsp;&nbsp;
        %a{onclick: "window.Device.toggleShowSSHInfo(this);"}
          %span.glyphicon.glyphicon-eye-open
            
    %tr.ssh-info.hidden
      %td SSH 服务器
      %td= @record.ssh_ip
    %tr.ssh-info.hidden
      %td SSH 端口
      %td= @record.ssh_port
    %tr.ssh-info.hidden
      %td SSH 账号
      %td= @record.ssh_username
    %tr.ssh-info.hidden
      %td SSH 密码
      %td= @record.ssh_password
    %tr
      %td 系统类型
      %td
        %span.label.label-info= "#{@record.os_type}#{@record.os_version}"
        &nbsp;&nbsp;&nbsp;&nbsp;
        %a{onclick: "window.Device.toggleShowDeviceInfo(this);"}
          %span.glyphicon.glyphicon-eye-open
    %tr.device-info.hidden
      %td UUID
      %td= @record.uuid
    %tr
      %td Host 名称
      %td= @record.hostname
    %tr
      %td 内存
      %td= @record.memory
    %tr
      %td CPU
      %td= @record.cpu
    %tr
      %td 磁盘
      %td= @record.disk
    %tr
      %td 服务监控状态
      %td= @record.service_state
    %tr
      %td 服务监控数量
      %td= @record.service_count
    %tr
      %td 服务未运行数量
      %td= @record.service_stopped_count
    %tr.device-info.hidden
      %td LanIP
      %td= @record.lan_ip
    %tr.device-info.hidden
      %td WanIP
      %td= @record.wan_ip
    %tr.device-info.hidden
      %td 代理账号
      %td= @record.username
    %tr.device-info.hidden
      %td 代理密码
      %td= @record.password
    %tr.device-info.hidden
      %td 代理 IP
      %td= @record.request_ip
    %tr.device-info.hidden
      %td 代理版本
      %td= @record.request_agent
    %tr.device-info.hidden
      %td 提交记录
      %td
        %a{href: url_for("/#{params[:id]}/records")}
          %span.badge= @record.record_count
    %tr
      %td 更新时间
      %td= @record.updated_at.strftime('%y/%m/%d %H:%M:%S')
    %tr
      %td 创建时间
      %td= @record.created_at.strftime('%y/%m/%d %H:%M:%S')
    %tr
      %td 编辑
      %td
        %a{href: url_for("/#{@record.id}/edit"), class: 'btn btn-xs btn-link'}
          %span.glyphicon.glyphicon-edit
    %tr
      %td 删除
      %td
        %a.btn.btn-xs.btn-link{style: "color: red;", onclick: "window.Device.remove(#{@record.id});"}
          .span.glyphicon.glyphicon-trash

:javascript
  (function() {
      window.Device = {
        remove: function(id) {
          var name = $(".name").text();

          if(!confirm('确定删除「' + name + '」?')) {
            return false;
          }

          window.Loading.show("删除中...");
          $.ajax({
            type: 'delete',
            url: "#{url_for('/')}" + id
          }).done(function(res, status, xhr) {
            if(res.code === 201) {
              $("#dom_" + id).remove();
              window.Loading.show("删除成功");

              try {
                var objects = {device: { id: id, name: name }}
                window.OperationLogger.record("device.delete", objects);
              } catch(e) { console.log(e) }

              window.location.href = "#{url_for('/')}";
            } else {
              window.Loading.show("删除失败");
            }
          }).fail(function(xhr, status, error) {
              window.Loading.show("删除失败");
          }).always(function(res, status, xhr) {
              window.Loading.hide();
          });
        },
        toggleShowSSHInfo: function(ctl) {
          var $span = $(ctl).children("span").first();
          if($span.hasClass("glyphicon-eye-open")) {
            $span.removeClass("glyphicon-eye-open");
            $span.addClass("glyphicon-eye-close");
            $(".ssh-info").removeClass("hidden");
          } else {
            $span.addClass("glyphicon-eye-open");
            $span.removeClass("glyphicon-eye-close");
            $(".ssh-info").addClass("hidden");
          }
        },
        toggleShowDeviceInfo: function(ctl) {
          var $span = $(ctl).children("span").first();
          if($span.hasClass("glyphicon-eye-open")) {
            $span.removeClass("glyphicon-eye-open");
            $span.addClass("glyphicon-eye-close");
            $(".device-info").removeClass("hidden");
          } else {
            $span.addClass("glyphicon-eye-open");
            $span.removeClass("glyphicon-eye-close");
            $(".device-info").addClass("hidden");
          }
        }
      }
  }).call(this);