:css   
  .tableService th:nth-child(n+1), .tableService td:nth-child(n+1) { text-align:left; padding-left:10px; }
  .tableFileBackup th:nth-child(1), .tableFileBackup td:nth-child(1) { 
    text-align: left; 
    padding-left:10px;
    display: block;/* 内联对象需加 */
    word-break:keep-all;/* 不换行 */  
    white-space:nowrap;/* 不换行 */  
    overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */  
    text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记 (...) ；需与 overflow:hidden; 一起使用。*/  
  }
  .tableFileBackup th:nth-child(2), .tableFileBackup td:nth-child(2) { text-align:left;padding-left:10px;width:20%;word-break:keep-all;white-space:nowrap;}
  .tableFileBackup th:nth-child(3), .tableFileBackup td:nth-child(3) { text-align:left;padding-left:10px;width:10%;word-break:keep-all;white-space:nowrap;}
  .tableFileBackup th:nth-child(n+4), .tableFileBackup td:nth-child(n+4) { text-align:left;padding-left:10px;; width:5%; }
  .tableBehaviorLog { margin-bottom: 2px;}
  .tableBehaviorLog th:nth-child(1), .tableBehaviorLog td:nth-child(1) { text-align:left;padding-left:10px;width:80%;word-break:keep-all;white-space:nowrap;}
  .tableBehaviorLog th:nth-child(2), .tableBehaviorLog td:nth-child(2) { text-align:left;padding-left:10px;width: 20%; }
  .tableMysqlBackup th:nth-child(n+1), .tableMysqlBackup td:nth-child(n+1) {text-align:left;padding-left:10px;width: 10%;}
  .tableMysqlBackup th:nth-child(6), .tableMysqlBackup td:nth-child(6) {text-align:left;padding-left:10px;width: 50%;}
  .list-group li:hover {cursor: pointer;}
  .not-exist { text-decoration: line-through; }
  textarea {word-wrap:normal;white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-o-pre-wrap;}

.row#appVue
  .col-sm-12
    %ol.breadcrumb
      %li 设备中心
      %li
        %a{href: "#{url_for('/')}?page=#{params[:page] || 1}"} 主机管理
      %li= "「#{@record.human_name || @record.hostname}」"

  .col-sm-3
    %ol.list-group
      %li.list-group-item.disabled 信息分类：
      %li.list-group-item{'v-for' => '(sideMenu, index) in sideMenus', ':class' => '{active: sideMenu === currentSideMenu}', ':key' => 'sideMenu.id', '@click' => 'clickSideMenu(sideMenu)'}
        {{ sideMenu.label }}
        %span.badge {{ sideMenu.badge }}
   
  .col-sm-9{':style' => '"height:" + screenHeight + "px;overflow:scroll;"'}
    %table.table.table-hover.table-condensed.table-strip.table-bordered.tableBasic{'v-if' => 'currentSideMenu.id == "basic"'}
      %thead
        %th 键值
        %th 内容
      %tbody
        %tr
          %td UUID
          %td.name{'v-text' => 'record.uuid'}
        %tr
          %td 业务名称
          %td.name{'v-text' => 'record.human_name'}
        %tr
          %td API Token
          %td{'v-text' => 'record.api_token'}
        %tr.device-info
          %td 代理版本
          %td{'v-text' => 'record.request_agent'}
        %tr.device-info
          %td 提交记录
          %td
            %a{':href' => '"/account/devices/" + record.uuid + "/records"'}
              %span.badge{'v-text' => 'record.record_count'}
        %tr
          %td 更新时间
          %td{'v-text' => 'record.updated_at'}
        %tr
          %td 创建时间
          %td{'v-text' => 'record.created_at'}
        %tr
          %td 编辑
          %td
            %a{':href' => '"/account/devices/" + record.uuid + "/edit"', class: 'btn btn-xs btn-link'}
              %span.glyphicon.glyphicon-edit
        %tr
          %td 删除
          %td
            %a.btn.btn-xs.btn-link{style: "color: red;", '@click' => 'deleteClick'}
              .span.glyphicon.glyphicon-trash
    %table.table.table-hover.table-condensed.table-strip.table-bordered.tableSSH{'v-if' => 'currentSideMenu.id == "ssh"'}
      %thead
        %th 键值
        %th 内容
      %tbody
        %tr
          %td SSH 状态
          %td
            %span.label{':class' => '{"label-success": record.ssh_state, "label-default": !record.ssh_state}', 'v-text' => 'record.ssh_state'}}
            &nbsp;&nbsp;&nbsp;&nbsp;
        %tr.ssh-info
          %td SSH 服务器
          %td{'v-text' => 'record.ssh_ip'}
        %tr.ssh-info
          %td SSH 端口
          %td{'v-text' => 'record.ssh_port'}
        %tr.ssh-info
          %td SSH 账号
          %td{'v-text' => 'record.ssh_username'}
        %tr.ssh-info
          %td SSH 密码
          %td{'v-text' => 'record.ssh_password'}
    %table.table.table-hover.table-condensed.table-strip.table-bordered.tableDevice{'v-if' => 'currentSideMenu.id == "device"'}
      %thead
        %th 键值
        %th 内容
      %tbody
        %tr
          %td 系统类型
          %td
            %span.label.label-info{'v-text' => 'record.os_type+record.os_version'}
            &nbsp;&nbsp;&nbsp;&nbsp;
        %tr.device-info
          %td UUID
          %td{'v-text' => 'record.uuid'}
        %tr
          %td Host 名称
          %td{'v-text' => 'record.hostname'}
        %tr
          %td 内存
          %td{'v-text' => 'record.memory'}
        %tr
          %td CPU
          %td{'v-text' => 'record.cpu'}
        %tr
          %td 磁盘
          %td{'v-text' => 'record.disk'}
        %tr
          %td 服务监控状态
          %td{'v-text' => 'record.service_state'}
        %tr
          %td 服务监控数量
          %td{'v-text' => 'record.service_count'}
        %tr
          %td 服务未运行数量
          %td{'v-text' => 'record.service_stopped_count'}
        %tr.device-info
          %td LanIP
          %td{'v-text' => 'record.lan_ip'}
        %tr.device-info
          %td WanIP
          %td{'v-text' => 'record.wan_ip'}
        %tr.device-info
          %td 代理账号
          %td{'v-text' => 'record.username'}
        %tr.device-info
          %td 代理密码
          %td{'v-text' => 'record.password'}
        %tr.device-info
          %td 代理 IP
          %td{'v-text' => 'record.request_ip'}

    %div{'v-if' => 'currentSideMenu.id == "service"'}
      %div 更新时间: {{ record.service_updated_at }}，<a @click='displayModal("serviceConfig")'>查看监控服务配置档</a>，服务运行状态:
      %table.table.table-condensed.table-bordered.smart-table.tableService
        %thead
          %tr
            %th{'v-for' => '(head, th_index) in record.service_monitor.heads', ':style' => '"width:" + record.service_monitor.widths[th_index]', 'v-text' => 'head'}
        %tbody
          %tr{'v-for' => '(rows, row_index) in record.service_monitor.data'}
            %td{'v-for' => '(row, td_index) in rows', ':style' => '"width:" +  record.service_monitor.widths[td_index] + ";word-break:break-all;"', 'v-html' => 'row'}

    %div{'v-if' => 'currentSideMenu.id == "file_backup"'}
      %div 更新时间: {{ record.file_backup_updated_at }}，<a @click='displayModal("backupConfig")'>备份配置档</a>，<a @click='displayModal("backupOutput")'>备份状态</a>
      %table.table.table-hover.table-condensed.table-strip.table-bordered.file-backups.tableFileBackup
        %thead
          %th 文件路径
          %th 修改时间
          %th 文件大小
          %th -
          %th -
        %tbody
          %tr{'v-for' => '(item, index) in file_backups', ':key' => 'item.id'}
            %td{'v-text' => 'item.file_path'}
            %td{'v-text' => 'formatDate(item.file_mtime)'}
            %td{'v-text' => 'item.file_size'}
            %td
              %a{'@click' => 'getBackupFile("read", record.uuid, item.uuid, item.archive_file_name, item.file_path)'}
                %span.glyphicon.glyphicon-eye-open
            %td
              %a{'@click' => 'getBackupFile("download", record.uuid, item.uuid, item.archive_file_name, item.file_path)'}
                %span.glyphicon.glyphicon-download
          %tr{'v-for' => '(item, index) in file_backups_not_exist', ':key' => 'item.id'}
            %td.not-exist{'v-text' => 'item.file_path'}
            %td.not-exist{'v-text' => '"-"'}
            %td.not-exist{'v-text' => '"-"'}
            %td
              %span.glyphicon.glyphicon-eye-open
            %td
              %span.glyphicon.glyphicon-download

    %div{'v-if' => 'currentSideMenu.id == "mysql_backup"'}
      %table.table.table-hover.table-condensed.table-strip.table-bordered.file-backups.tableMysqlBackup
        %thead
          %th 备份日期
          %th DB数量
          %th 备份数量
          %th 备份耗时
          %th 备份大小
          %th 备份状态
        %tbody
          %tr{'v-for' => '(item, index) in backupMysqlMetas', ':key' => 'item.id'}
            %td
              %a{'v-text' => 'item.ymd', '@click' => 'viewMysqlDay(item)'}
            %td{'v-text' => 'item.database_count'}
            %td{'v-text' => 'item.backup_count'}
            %td{'v-text' => 'item.backup_duration'}
            %td{'v-text' => 'item.backup_size'}
            %td{'v-text' => 'item.backup_state'}

    %div{'v-if' => 'currentSideMenu.id == "behavior_log"'}
      %div 当前页面共计 {{ behaviorLogs.length }} 条行为操作。
      %table.table.table-hover.table-condensed.table-strip.table-bordered.behavior-logs.tableBehaviorLog
        %thead
          %th 行为描述
          %th 提交时间
        %tbody
          %tr{'v-for' => '(item, index) in behaviorLogs', ':key' => 'item.id'}
            %td{'v-text' => 'item.behavior'}
            %td{'v-text' => 'item.created_at'}
      %div{style: 'width: 100%;text-align: center;'}
        %a{'@click' => 'getMoreBehaviorLogs', 'v-if' => 'loadMore'}
          %span.glyphicon.glyphicon-hourglass
          加载更多数据
        %span{'v-else' => '', style: 'color: gray;'}
          %span.glyphicon.glyphicon-home
          已经没有数据了

  .modal.fade#infoModal{"aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
    .modal-dialog{role: "document"}
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
            %span{"aria-hidden" => "true"} ×
          %h4.modal-title{'v-text' => 'modal.title'}
        .modal-body{style: 'padding: 10px;'}
          %textarea.form-control{'v-model.trim' => 'modal.body', rows: 20, readonly: true}
        .modal-footer
          %span.mtime{style: 'float:left; color: darkgray;'}
          %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} 关闭

  .modal.fade#mysqlModal
    .modal-dialog{style: 'width:80%;max-width:1170px;height:80%;max-height:600px;'}
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
            %span{"aria-hidden" => "true"} ×
          %h4.modal-title{'v-text' => 'modal.title'}
        .modal-body{style: 'width:100%;height:90%;max-height:600px;overflow:scroll'}
          %table.table.table-hover.table-condensed.table-strip.table-bordered.file-backups.tableMysqlBackup
            %thead
              %th 备份文件
              %th 备份哈希
              %th 备份大小
              %th 备份耗时
              %th 备份状态
            %tbody
              %tr{'v-for' => '(item, index) in backupMysqlDays', ':key' => 'item.id'}
                %td
                  %a{'target' => 'blank', ':href' => "'/api/v2/account/backup_mysql/download?device_uuid='+item.device_uuid+'&host='+item.host+'-'+item.port+'&ymd='+item.ymd+'&backup_name='+item.backup_name"}
                    {{item.host}}:{{item.port}}/{{item.backup_name}}
                %td{'v-text' => 'item.backup_md5'}
                %td{'v-text' => 'item.backup_size'}
                %td{'v-text' => 'item.backup_duration'}
                %td{'v-text' => 'item.backup_state'}

= javascript_include_tag 'account/devices/show.js'
