- url = url_for(@record ? "/#{@record.id}?page=#{params[:page] || 1}" : "/")
- form_for @record, url, method: "post", class: "form-horizontal", id: "recordForm" do |f|
  = f.hidden_field :uuid, class: "form-control"
  - field_set_tag do
    .form-group
      = f.label '分组名称', class: "col-sm-2 control-label"
      .col-sm-7
        = f.text_field :name, class: "form-control"
    .form-group
      = f.label '分组描述', class: "col-sm-2 control-label"
      .col-sm-7
        = f.text_area :description, class: "form-control", rows: 10
    .form-group
      = f.label '是否公开', class: "col-sm-2 control-label"
      .col-sm-7
        = f.check_box :publicly, style: 'margin-top: 10px'
    .form-group
      .col-sm-offset-2.col-sm-10
        = f.submit "提交", class: "btn btn-primary hidden"
        = link_to "提交", "javascript:void(0);", class: "btn btn-primary", onclick: "window.DeviceGroup.onsubmit();"
        = button_tag "取消", class: "btn btn-default", onclick: "window.history.go(-1);"


