:css
  .list-group .items {
    width: 100%;
    padding-left: 0;
    max-height: 500px;
    overflow: scroll;
  }
#jobForm
  .col-sm-9
    - url = url_for(@record ? "/#{@record.id}?page=#{params[:page] || 1}" : "/")
    - form_for @record, url, method: "post", class: "form-horizontal", id: "recordForm", '@submit' => 'checkForm' do |f|
      = f.hidden_field :uuid
      - field_set_tag do
        .form-group
          = f.label '任务标题', class: "col-sm-2 control-label"
          .col-sm-9
            = f.text_field :title, class: "form-control", placeholder: "任务标题，必填项", ':value' => 'record.title'
          .col-sm-1{style: "margin-left:-20px;padding-top:10px;"}
            %span{style: "padding-top:10px;"}
              %a{'@click' => "listJobTemplates(0)"}
                %span.glyphicon.glyphicon-check
        .form-group
          = f.label '设备名称', class: "col-sm-2 control-label"
          .col-sm-9
            = f.hidden_field :device_list, ':value' => 'record.device_list'
            = f.text_area :device_name, class: "form-control", rows: 1, placeholder: "要部署的设备，必填项", ':value' => 'record.device_name'
          .col-sm-1{style: "margin-left:-20px;padding-top:10px;"}
            %span{style: "padding-top:10px;"}
              %a{'@click' => "listDevices(0)"}
                %span.glyphicon.glyphicon-check
        .form-group
          = f.label '应用名称', class: "col-sm-2 control-label"
          .col-sm-9
            = f.hidden_field :app_id, ':value' => 'record.app_id'
            = f.text_field :app_name, class: "form-control", placeholder: "要部署的应用", ':value' => 'record.app_name'
          .col-sm-1{style: "margin-left:-20px;padding-top:10px;"}
            %span{style: "padding-top:10px;"}
              %a{'@click' => "listApps(0)"}
                %span.glyphicon.glyphicon-check
        .form-group
          = f.label '版本名称', class: "col-sm-2 control-label"
          .col-sm-9
            = f.hidden_field :version_id, ':value' => 'record.version_id'
            = f.text_field :version_name, class: "form-control", placeholder: "要部署的版本", ':value' => 'record.version_name'
          .col-sm-1{style: "margin-left:-20px;padding-top:10px;"}
            %span{style: "padding-top:10px;"}
              %a{'@click' => "listVersions(0)"}
                %span.glyphicon.glyphicon-check
        .form-group
          = f.label '部署脚本', class: "col-sm-2 control-label"
          .col-sm-9
            = f.text_area :command, class: "form-control", rows: 8, placeholder: "部署脚本，必填项", ':value' => 'record.command'
          .col-sm-1{style: "margin-left:-20px;padding-top:10px;"}
            %a{'@click' => "renderCommand(true);"}
              %span.glyphicon.glyphicon-eye-open
        .form-group
          = f.label '执行时间', class: "col-sm-2 control-label"
          .col-sm-9
            = f.text_field :executed_at, class: "form-control", placeholder: "执行时间，定时任务功能", ':value' => 'record.executed_at'
        .form-group
          = f.label '任务描述', class: "col-sm-2 control-label"
          .col-sm-9
            = f.text_area :description, class: "form-control", rows: 2, placeholder: "任务描述", ':value' => 'record.description'
        .form-group
          .col-sm-offset-2.col-sm-10
            = f.submit "提交", class: "btn btn-primary"
            = link_to "提交", "javascript:void(0);", class: "btn btn-primary hidden", onclick: "window.JobObject.onsubmit();"
            = button_tag "取消", class: "btn btn-default", onclick: "window.history.go(-1);"

  .col-sm-3
    .list-group{'v-if' => 'showJobTemplates'}
      %button.list-group-item.disabled{type: 'button', 'v-text' => '"模板列表：(" + jobTemplates.length + " 个)"'} 
      %button.list-group-item.disabled{type: 'button', 'v-if' => 'jobTemplates.length == 0'} 无数据
      %ul.items
        %li.list-group-item{'v-for' => '(item, index) in jobTemplates'}
          %input{type: 'radio', name: 'radio-group', '@click' => 'jobTemplateRadioClick(item)'} &nbsp;{{ item.title }}
          %span.label.label-info {{ item.template_type }}
    .list-group{'v-if' => 'showDevices'}
      %button.list-group-item.disabled{type: 'button', 'v-text' => '"设备列表：(" + devices.length + " 台)"'}  
      %button.list-group-item.disabled{type: 'button', 'v-if' => 'devices.length == 0'} 无数据
      %ul.items
        %li.list-group-item{'v-for' => '(item, index) in devices'}
          %input{type: 'checkbox', name: 'checkbox-group', 'v-model' => 'deviceCheckedList', ':value' => 'item'} &nbsp;{{ item.human_name }}
    .list-group{'v-if' => 'showApps'}
      %button.list-group-item.disabled{type: 'button', 'v-text' => '"应用列表：(" + apps.length + " 个)"'}  
      %button.list-group-item.disabled{type: 'button', 'v-if' => 'apps.length == 0'} 无数据
      %ul.items
        %li.list-group-item{'v-for' => '(item, index) in apps'}
          %input{type: 'radio', name: 'radio-group', '@click' => 'appRadioClick(item)'} &nbsp;{{ item.name }}
          %span.label.label-info {{ item.file_type }}
    .list-group{'v-if' => 'showVersions'}
      %button.list-group-item.disabled{type: 'button', 'v-text' => '"版本列表：(" + versions.length + " 个)"'} 
      %button.list-group-item.disabled{type: 'button', 'v-if' => 'versions.length == 0'} 无数据 
      %ul.items
        %li.list-group-item{'v-for' => '(item, index) in versions'}
          %input{type: 'radio', name: 'radio-group', '@click' => 'versionRadioClick(item)'} &nbsp;{{ item.version }}

      

= erb :'_form.js'