%ol.breadcrumb
  %li 部署中心
  %li 任务管理
  %li
    %a{href: "#{url_for('/new')}?page=#{params[:page] || 1}"}
      新建任务
      %span.glyphicon.glyphicon-plus
:css   
  .jobs th:nth-child(n+1), .jobs td:nth-child(n+1) { text-align: center; width: 5%; }
  .jobs th:nth-child(1), .jobs td:nth-child(1) { text-align: left; width: 20%; }
  .jobs th:nth-child(2), .jobs td:nth-child(2) { text-align: left; width: 15%; }
  .jobs th:nth-last-child(1), .jobs td:nth-last-child(1) { text-align: center; width: 10%; }
%table.table.table-hover.table-condensed.table-strip.table-bordered.smart-table.jobs
  %thead
    %th 任务标题
    %th 目标设备
    %th 应用名称
    %th 版本信息
    %th 部署进度
    %th 更新时间
  %tbody
    - @records.each do |record|
      %tr{id: "dom_#{record.id}"}
        %td= link_to record.title, url_for("/#{record.id}")
        %td= link_to record.device_name, url_for("/../devices/uuid/#{record.device_uuid}")
        %td= record.app_name
        %td= record.version_name
        %td
          %span.label{class: "label-#{record.state == 'waiting' ? 'primary' : 'default'}"}= record.state
        %td= record.updated_at.strftime('%y/%m/%d %H:%M')

= will_paginater @records