%ol.breadcrumb
  %li 部署中心
  %li= link_to '任务管理', url_for('/')
  %li= @record.title

:css   
  .app th:nth-child(1), .app td:nth-child(1) { width: 15%; }
  .app th:nth-child(2), .app td:nth-child(2) { width: 80%; }
%table.table.table-hover.table-condensed.table-strip.table-bordered.app
  %thead
    %th 键值
    %th 内容
  %tbody
    %tr
      %td 任务名称
      %td.name= @record.title
    %tr
      %td 任务 UUID
      %td= @record.uuid
    %tr
      %td 主机名称
      %td= @record.device_name
    %tr
      %td 主机 UUID
      %td= @record.device_uuid
    %tr
      %td 任务状态
      %td
        %span.label.label-info= @record.state
    %tr
      %td 部署脚本
      %td
        %pre= @record.command
    - if @record.output
      %tr
        %td 脚本输出
        %td
          %pre= @record.output
    %tr
      %td 创建时间
      %td= @record.created_at.strftime('%y/%m/%d %H:%M:%S')
    %tr
      %td 更新时间
      %td= @record.updated_at.strftime('%y/%m/%d %H:%M:%S')
    %tr
      %td 删除
      %td
        %a.btn.btn-xs.btn-link{style: "color: red;", onclick: "window.Job.remove(#{@record.id});"}
          .span.glyphicon.glyphicon-trash

:javascript
  (function() {
      window.Job = {
        remove: function(id) {
          var name = $(".name").text();

          if(!confirm('确定删除「' + name + '」?')) {
            return false;
          }

          window.Loading.show("删除中...");
          $.ajax({
            type: 'delete',
            url: "#{url_for('/')}" + id
          }).done(function(res, status, xhr) {
            if(res.code === 201) {
              $("#dom_" + id).remove();
              window.Loading.show("删除成功");

              try {
                var objects = {job: { id: id, name: name }}
                window.OperationLogger.record("job.delete", objects);
              } catch(e) { console.log(e) }
              
              window.location.href = "#{url_for('/')}";
            } else {
              window.Loading.show("删除失败");
            }
          }).fail(function(xhr, status, error) {
              window.Loading.show("删除失败");
          }).always(function(res, status, xhr) {
              window.Loading.hide();
          });
        }
      }
  }).call(this);