-# coding: UTF-8
%nav.navbar.navbar-default{role: 'navigation', style:'margin-bottom:0px;'}
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      = link_to 'SYPCTL', 'javascript:void(0);', class: 'navbar-brand hidden'
      .navbar-brand{href: "#"}
        %img.img-lazy-load{style: 'max-width:25px;', alt: "生意+ 系统", src: '/images/favicon.png', 'data-original' => '/images/favicon.png'}
      %button.navbar-toggle{'data-target' => '#navbar-collapse', 'data-toggle' => 'collapse', :type => 'button'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    / Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse{role: 'navigation', id:'navbar-collapse'}
      %ul.nav.navbar-nav
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            部署中心
            %span.caret
          %ul.dropdown-menu
            %li
              %a{href: "/account/jobs"} 任务管理
            %li
              %a{href: "/account/job_templates"} 模板管理
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            设备中心
            %span.caret
          %ul.dropdown-menu
            %li
              %a{href: "/account/devices"} 主机管理
            %li
              %a{href: "/account/device_groups"} 分组管理
            %li
              %a{href: "/monitor"} 监控列表
            %li
              %a{href: "/account/file_backups"} 文件备份
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            应用中心
            %span.caret
          %ul.dropdown-menu
            %li
              %a{href: "/account/apps"} 应用管理
            %li
              %a{href: "/account/app_groups"} 分组管理
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            日志中心
            %span.caret
          %ul.dropdown-menu
            %li
              %a{href: "/account/operation_logs"} 操作日志
            %li
              %a{href: "/account/agent_behavior_logs"} 代理行为
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          %a{href: '#', class: 'dropdown-toggle', style: 'display:inline-block;padding-left:0px', 'data-toggle' => 'dropdown', role: 'button', 'aria-haspopup' => 'true', 'aria-expanded' => 'false'}
            %span.glyphicon.glyphicon-user
            = current_user.user_name
            %span.caret
          %ul.dropdown-menu
            %li= link_to '基本资料', '#', 'data-toggle' => 'modal', 'data-target' => '#modalCurrentUserInfo'
            %li.divider{role: 'seperator'}
            %li= link_to '登出', '/logout'
        %li
          %a{href: 'javascript:void(0);', onclick: 'window.App.toggleDisplayVisitMenus()'}
            %span.glyphicon.glyphicon-hourglass

:css
  .pagination { display: block; text-align: center;margin-bottom: 15px;}
  #modalCurrentUserInfo td { text-align: left;O}
:javascript
  window.action_logger = {
    operator: {
      id: "#{current_user.user_num}",
      name: "#{current_user.user_name}",
      type: "operator"
    }
  };

:css
  .current-user-table td:nth-child(1) { width: 40%; }
  .current-user-table td:nth-child(2) { width: 60%; }
.modal.fade#modalCurrentUserInfo
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'type' => 'button', 'data-dismiss' => 'modal', 'aria-label' => 'Close'}
          %span{'aria-hidden' => 'true'} &times;
        %h4.modal-title 基本资料
      .modal-body
        %table.table.table-bordered
          %tr
            %td 名称
            %td= current_user.user_name
          %tr
            %td 登录名
            %td= current_user.user_num
          %tr
            %td 应用版本
            %td= ENV['APP_VERSION']
