-# coding: UTF-8
!!! Strict
%html
  %head
    %title 运筹在握 | 生意+ 版本管理系统
    %meta{'http-equiv' => 'refresh', content: '900'}/
    %meta{'http-equiv' => 'content-type', content: 'text/html', charset: 'UTF-8'}/
    %meta{'http-equiv' => 'X-UA-Compatible', content: 'IE=edge'}/
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}/
    %meta{name: 'renderer', content:'webkit'}/
    %meta{name: 'keywords', content: "#{@meta_keywords}"}/
    %meta{name: 'description', content: "#{@meta_description}"}/
    %link{href: "/images/favicon.png?t=#{ENV['STARTUP_TIMESTAMP']}", rel: 'shortcut icon'}/
    %link{href: asset_path('dist-application.css'), rel:"stylesheet"}
    %script{src: asset_path('dist-application.js')}
    
    - if mobile?
      %meta{content: 'no', name: 'apple-mobile-web-app-capable'}/
      %meta{content: 'True', name: 'HandheldFriendly'}/
      %meta{content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name: 'viewport'}/
      :css
        body { max-width: 1000px; min-width:300px; }
        .bs-docs-header h1 { text-align: left; padding-left: 10px;}

  %body
    = render_page_header
    .container#main
      .row
        .col-sm-12
          = yield

    #footer
      %a{href: 'http://www.miibeian.gov.cn', target: '_blank'}
        %i
        沪ICP备11033154号

    .visit-menus.top-right.hidden
    .system-notify.top-right
    :javascript
      let flashString = '#{flash_message}',
          flash = {}
      if(flashString.length) {
        try {
          flash = JSON.parse(flashString)
          Object.keys(flash).forEach(function(key) { 
            window.App.addNotify(flash[key], key)
          })
        } catch(e) {
          console.log(e)
          window.App.addInfoNotify(flashString)
        }
      }

    = javascript_include_tag 'app-loader'